<!--<div class="container" ng-controller="MainCtrl">
    <h1>Chat Room</h1>
    <div class="well well-lg">
        <div class="chat window">
            <div class="display row">
                <div class="text col-md-9">
                    <div class="line" ng-repeat="line in data.lines">
                        <p>
                            <span class="timestamp">{{line.createdAt | date: '[HH:mm]'}} </span>
                            <span class="name">{{line.user}}: </span>
                            {{line.text}}
                        </p>
                    </div>
                </div>
                <div class="user list col-md-3">
                    <div class="person" ng-repeat="user in data.users">{{user.name}}</div>
                </div>
            </div>
            <div class="input">
                <form name="chatInput" ng-submit="sendLine()">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="chat.text">
            <span class="input-group-btn">
              <button class="btn btn-primary"><i class="fa fa-comment-o"></i> Send</button>
            </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->


<!DOCTYPE html>
<html>
<head>
    <title>2 DBL X CHAT</title>
</head>
<body>
<h1> 2 DBL X CHAT</h1>
</body>
</html>